<div class="d-flex justify-content-center h-100">
  <div class="flex-column m-4">
      <div class="d-flex justify-content-between">
        <div class="d-flex display-6 align-items-center">Projects</div>
        <button class="btn btn-success" (click)="create()">Create</button>
      </div>
      <hr />
      <div>
        <ul class="list-group">
          <li *ngFor="let project of projects | async" class="list-group-item">
            <a [routerLink]="['/project', project.id]">
              {{ project.name }}
            </a>
          </li>
        </ul>
      </div>
  </div>
</div>
